@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Space Grotesk", sans-serif;
	}

	#root {
		min-height: 100vh;
	}
}

.swal2-popup .swal2-confirm {
	background-color: #f8fafc;
	color: #0f172a;
}
